<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Example Fragment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="src/stylesheets/bard.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <style>
      .recorder {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border:0;
        position: relative;
        z-index: 0;
      }

      .pass {
        position: fixed;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        background: pink;
        z-index: 999;
      }

      button::after {
          width: 40px;
          height: 40px;
          background: #556bdb;
          position: absolute;
          left: 0;
          top:0;

          z-index: 1;
          transform: translateX(50%), translateY(50%);
        }
    </style>
</head>
<body>

  <button class="pass"></button>
    <!-- Fragment -->
	<div class="fragment">
		<div class="fragment__background"></div>
		<canvas id="canvas"></canvas>	
		<div class="fragment__foreground"></div>
	</div>

    <!-- Controller -->
    <div id="controller" class="control control--hide" style="display: none">
        <button id="control-menu-btn" class="control__btn">+</button>
        <div class="control__menu">
            <button id="" class="control__btn control__menu-item"><i class="material-icons">&#xE034;</i></button>
            <button class="control__btn control__menu-item">?</button>
            <button class="control__btn control__menu-item"><i class="custom-icons custom-icons--tree"></i></button>
            <button class="control__btn control__menu-item"><i class="material-icons">&#xE8B8;</i></i></button>
        </div>
    </div>

    <div id="customization-panel" class="customization customization--hidden">
      <h2 class="title-1 text-center">Personnalise ton héros</h2>
      <div class="customization__sidebar customization__sidebar--left">
        <h3 class="customization__sub-title">A quoi ressembles-tu ? </h3>
        <div class="customization__lists">
           <div id="body-part-categories-container" class="customization__list  customization__list--depth-1">
            <button id="csqe" class="customization__list-item"><%= image_tag "personnalisation/asset-head-shield" %></button>
            <button id="tete" class="customization__list-item"><%= image_tag "personnalisation/asset-head" %></button>
            <button id="crps" class="customization__list-item"><%= image_tag "personnalisation/asset-body" %></button>
            <button id="bras" class="customization__list-item"><%= image_tag "personnalisation/asset-arm" %></button>
            <button id="jmbe" class="customization__list-item"><%= image_tag "personnalisation/asset-leg" %></button>
          </div>
          <div id="body-part-choices-container" class="customization__list customization__list--depth-2">
            <button class="customization__list-item"><%= image_tag "personnalisation/asset-head-shield" %></button>
            <button class="customization__list-item"><%= image_tag "personnalisation/asset-head" %></button>
            <button class="customization__list-item"><%= image_tag "personnalisation/asset-body" %></button>
            <button class="customization__list-item"><%= image_tag "personnalisation/asset-arm" %></button>
            <button class="customization__list-item"><%= image_tag "personnalisation/asset-leg" %></button>
          </div>
        </div>
      </div>
    
      <div class="customization__sidebar customization__sidebar--right">
        <h3 class="customization__sub-title">De quelle couleur es-tu ?</h3>
        <div class="customization__section customization__colors">
          <button id="customization-color-blue" class="customization__color"></button>
          <button id="customization-color-yellow" class="customization__color"></button>
          <button id="customization-color-dark" class="customization__color"></button>
          <button id="customization-color-orange" class="customization__color"></button>
        </div>
    
        <h3 class="customization__sub-title">Pousse ton cri de guerre</h3>
        <div class="customization__section mb-5">
          <div class="text-center flex-1">
            <h4 class="customization__mention">Enregistrer</h4>
            <button class="customization__recorder customization__recorder--inactive"></button> 
          </div>
          <div class="text-center flex-1">
            <h4 class="customization__mention">Lire</h4>
            <button class="customization__play"></button> 
          </div>
        </div>
    
        <h3 class="customization__sub-title">Quel est ton nom ?</h3>
        <div class="customization__form">
          <p class="customization__mention customization__form-label">Ton titre</p>
          <div class="select">
            <select aria-label="Select menu example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <p class="customization__mention customization__form-label">Ton Nom</p>
          <input type="text" class="customization__form-input">
        </div>
      </div>
    
      <div class="customization__cta">
        <button id="customization-save" class="btn">Partir à l'aventure</button>
      </div>
    </div>
    
    <script src="bundle.js"></script>
</body>
</html>
